numpy==1.23.5
pandas==1.5.3
streamlit==1.23.1
tqdm==4.65.0
xlrd==2.0.1
scikit-learn==1.2.2
xgboost==1.7.6
category_encoders==2.6.1
missingno==0.5.2
imbalanced-learn==0.10.1
bayesian-optimization==1.4.3
optuna==3.2.0
ipywidgets==7.7.1
matplotlib==3.7.0
tqdm==4.64.0
